@model IEnumerable<Exam_Helper.Question>
@{
    ViewData["Title"] = "Library Page";
}

<main class="container" style="padding-top: 3vh;">
    <div class="container">

        <div class="justify-content text-center h1">
            <span>Библиотека</span>
        </div>

        <hr color="brown" />

        <div class="d-flex  bd-highlight pt-3 pb-3">
            <!--
            <a asp-action="Create">
                <button type="button" class="btn btn-warning bd-highlight">Добавить Вопрос</button>
            </a>
                -->
            @Html.ActionLink("Добавить Вопрос", "Create", "QuestionsLib", new { type = "button" }, new { @class = "btn btn-warning bd-highlight" })
            <div class="form-group pt-3 pb-3 bd-highlight ml-auto p-2"></div>
            <span class="mr-3"> Поиск вопроса: </span>
            <form asp-controller="QuestionsLib" asp-action="Index">
                <input type="text" name="SearchString" class="form-control">
            </form>
        </div>
    </div>
    <!-- Массив вопросов, отображение потом настроим -->
    <table class="table">
        <thead>
            <tr>

                <th scope="col"> <span>@Html.DisplayNameFor(model => model.Definition)</span> </th>
                <th scope="col"> <span>@Html.DisplayNameFor(model => model.Title) </span></th>
                <th scope="col">tags</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> <span>@Html.DisplayFor(modelItem => item.Definition) </span></td>
                    <td> <span>@Html.DisplayFor(modelItem => item.Title) </span></td>
                    <td> <span>@Html.DisplayFor(modelItem => item.TagIds) </span></td>
                    <td>
                        <div class=" d-flex justify-content-center dropdown">
                            <button class="btn btn-light dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Details", "Details", "QuestionsLib", new { id = item.Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Tests", "RedirectToTest", "QuestionsLib", new { id = item.Id }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</main>