@model Exam_Helper.ViewsModel.ClassForPackCreatingModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1>Create</h1>

    <h4>Pack</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.pack.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pack.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pack.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.questions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @for (int i = 0; i < Model.questions.Count; i++)
                        {
                            <li>
                                @Html.CheckBoxFor(model => Model.questions[i].IsSelected)
                                @Html.Label(Model.questions[i].Name)
                                @Html.HiddenFor(model => model.questions[i].Id)
                                @Html.HiddenFor(model => model.questions[i].Name)
                            </li>
                        }
                    </div>
                </div>
                <!--hidden
            <div class="form-group">
            <label asp-for="@Model.pack.Author" class="control-label"></label>
            <input asp-for="@Model.pack.Author" class="form-control" />
            <span asp-validation-for="@Model.pack.Author" class="text-danger"></span>
        </div>
        -->

                <div class="form-group">
                    @Html.LabelFor(model => model.tags, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @for (int i = 0; i < Model.tags.Count; i++)
                        {
                            <li>
                                @Html.CheckBoxFor(model => Model.tags[i].IsSelected)
                                @Html.Label(Model.tags[i].Name)
                                @Html.HiddenFor(model => model.tags[i].Id)
                                @Html.HiddenFor(model => model.tags[i].Name)
                            </li>
                        }
                    </div>
                </div>

                <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
