@model IEnumerable<Exam_Helper.Pack>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!--
    <a asp-action="Create">
        <button type="button" class="btn btn-warning bd-highlight">Добавить Пак</button>
    </a>
    -->
    @Html.ActionLink("Добавить Пак", "Create", "PacksLib", new { type = "button" }, new { @class = "btn btn-warning bd-highlight" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate.GetDateTimeFormats()[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate.GetDateTimeFormats()[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagsId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
